$fontFamily : 'Poppins', sans-serif;;

$bg-body: #727272;

$bg-white: #ffffff;

$bg-black: #000;

$color-text: #575757;

$color-primary: #ffd136;
$color-secondary: #f8a000;
$color-secondary-bg: #fff9eb;