
@use "@material/theme" with (
  $primary: #ffd136,
  $secondary: #f8a000,
  $background: #fff,
);


@use "@material/button/styles";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield/mdc-text-field";
@use "@material/checkbox/mdc-checkbox";
@use "@material/typography/mdc-typography";
@import './variables';
@import './form';


body{
  background-color: $bg-body;
}